@charset "UTF-8";

:root {
    /* Paleta de cores */
    --cor: #ffffff;
    --cor0: #000000;
    --cor1: #34401A;
    --cor2: #64732F;
    --cor3: #CAD959;
    --cor4: #B4BF5E;
    --cor5: #252617;
    /* Fontes */
    --font0: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* padrão */
html {
    font-size: 62.5%;
}
body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font0);
}
.screen {
    width: 32rem;
    height: 60rem;
    border: .2rem solid var(--cor0);
    position: relative;
    border-radius: 2rem;
    background-color: var(--cor1);
}
.header {
    background-color: var(--cor4);
    height: 11%;
    border-radius: 2rem 2rem 0rem 0rem;
}
button {
    cursor: pointer;
}
.screen button i {
    position: absolute;
    font-size: 3.5rem;
    right: 5%;
    top: 2%;
}
button i:hover {
    color: var(--cor);
}
.menu {
    position: relative;
    font-size: 5rem;
    text-align: center;
    line-height: 8rem;
    background-color: var(--cor4);
    height: 89%;
    border-radius: 0rem 0rem 2rem 2rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    color: var(--cor5);
}
.active {
    z-index: -1;
    opacity: 0%;
    visibility: hidden;
}